<%= form_with(model: list, local: true, class: "container ms-4") do |form| %>
    <% if list.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(list.errors.count, "error") %> found</h4>
        <ul>
          <% list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  
    <%= form.submit class: "btn btn-primary" %>
  <% end %>
  